/* styles/Footer.module.css */

.footer {
  background-color: #0b0b0e;
  color: #ffffff;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  gap: 120px;
  padding-left: 144px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}
.column ul li:hover {
    color: #F0B90B;
}


.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  color: #ccc;
}

.options div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
}

.footerBottom{
    
    text-align: center;
    gap: 24px; 
}
.icons{
    display: flex;
    flex-direction: column;
    /* gap: 40px.; */
}
.iconRow{
    display: flex;
    gap: 24px;
    font-size: large;
}
.footerBottom{
    margin-top: 64px;
}
.footerBottom hr{
    width: 1224px;
}
.footerBottomDiv{
    display:  flex;
    gap: 32px;
    justify-content: center;
    color: #5E6673;
}