.startTradingNow{
    background-color: #1E2329;
    text-align: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.startTradingNow h1{
    color: white;
    font-weight: bold;
    font-size: 32px;

}
.startTradingNow button{
    background-color: #fcd535;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
}